{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  <nav role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <ul>
      {%- if paginate.previous -%}
        <li>
          <a
            href="{{ paginate.previous.url }}{{ anchor }}"
            aria-label="{{ 'general.pagination.previous' | t }}"
          >
            {% render 'icon-chevron-left' %}
          </a>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        <li>
          {%- if part.is_link -%}
            <a
              href="{{ part.url }}{{ anchor }}"
              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
            >
              {{- part.title -}}
            </a>
          {%- else -%}
            {%- if part.title == paginate.current_page -%}
              <a
                role="link"
                aria-disabled="true"
                aria-current="page"
                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
              >
                {{- part.title -}}
              </a>
            {%- else -%}
              {{ part.title }}
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}

      {%- if paginate.next -%}
        <li>
          <a
            href="{{ paginate.next.url }}{{ anchor }}"
            aria-label="{{ 'general.pagination.next' | t }}"
          >
            {% render 'icon-chevron-right' %}
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>
{%- endif -%}
