{% comment %}
  Renders a search dialog modal.

  Usage:
  {% render 'search-dialog-modal' %}
{% endcomment %}

<dialog-modal id="search-dialog">
  <dialog>
    <div class="dialog-content">
      <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
        <input type="hidden" name="options[prefix]" value="last">
        <label class="sr-only" for="search-dialog-modal">{{ 'general.search.search' | t }}</label>
        <input
          class="field-input"
          id="search-dialog-modal"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search' | t }}"
        >
        <button>{{ 'general.search.search' | t }}</button>
      </form>
    </div>
    <form method="dialog" class="dialog-close">
      <button>
        <span class="sr-only">{{ 'accessibility.close' | t }}</span>
        {%- render 'icon-close' -%}
      </button>
    </form>
  </dialog>
</dialog-modal>
