{{ content_for_index }}

{% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      {% include 'responsive-image' with image: product.featured_image, max_width: 800, max_height: 800 %}
    </a>
  </div>
{% endfor %}
