<div class="page-pad">
  <div class="copy">

    {% paginate customer.addresses by 5 %}

    <p class="mb-8 text-sm">
      <a href="/account">&lsaquo; {{ 'customer.account.return' | t }}</a>
    </p>

    <h1 class="font-display text-3xl">{{ 'customer.addresses.title' | t }}</h1>

    {% for address in customer.addresses %}

    <div class="my-4 border rounded" data-address>
      <div class="p-4 md:p-6">
        {% if address == customer.default_address %}
        <p class="text-caps text-muted">{{ 'customer.addresses.default' | t }}</p>
        {% endif %}
        {{ address | format_address }}

        <div class="mt-6">
          <button type="button" class="btn-link text-caps mr-6" data-address-toggle>
            {{ 'customer.addresses.edit' | t }}
          </button>
          <form class="inline" data-address-delete-form method="post" action="/account/addresses/{{ address.id }}"
            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="btn-link text-caps">
              {{ 'customer.addresses.delete' | t }}
            </button>
          </form>
        </div>
      </div>

      <div data-address-form class="hidden p-4 md:p-6 border-t">
        {% form 'customer_address', address %}
        <div data-address-fields class="address-form form-vertical">
          <div>
            <label for="AddressFirstName_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.first_name' | t }}
            </label>
            <input type="text" name="address[first_name]" id="AddressFirstName_{{ form.id }}" class="form-input"
              value="{{ form.first_name }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressLastName_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.last_name' | t }}
            </label>
            <input type="text" name="address[last_name]" id="AddressLastName_{{ form.id }}" class="form-input"
              value="{{ form.last_name }}" autocapitalize="words">

          </div>
          <div>
            <label for="AddressCompany_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.company' | t }}
            </label>
            <input type="text" name="address[company]" id="AddressCompany_{{ form.id }}" class="form-input"
              value="{{ form.company }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressAddress1_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.address1' | t }}
            </label>
            <input type="text" name="address[address1]" id="AddressAddress1_{{ form.id }}" class="form-input"
              value="{{ form.address1 }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressAddress2_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.address2' | t }}
            </label>
            <input type="text" name="address[address2]" id="AddressAddress2_{{ form.id }}" class="form-input"
              value="{{ form.address2 }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressCity_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.city' | t }}
            </label>
            <input type="text" name="address[city]" id="AddressCity_{{ form.id }}" class="form-input"
              value="{{ form.city }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressCountry_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select name="address[country]" id="AddressCountry_{{ form.id }}" class="address-country-option form-select"
              data-form-id="{{ form.id }}" data-default="{{ form.country }}">
            </select>

            <div>
              <label for="AddressProvince_{{ form.id }}" class="form-label">
                {{ 'customer.addresses.province' | t }}
              </label>
              <select name="address[province]" id="AddressProvince_{{ form.id }}" class="form-select"
                data-default="{{ form.province }}">
              </select>
            </div>
          </div>
          <div>
            <label for="AddressZip_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text" name="address[zip]" id="AddressZip_{{ form.id }}" class="form-input"
              value="{{ form.zip }}" autocapitalize="characters">
          </div>
          <div>
            <label for="AddressPhone_{{ form.id }}" class="form-label">
              {{ 'customer.addresses.phone' | t }}
            </label>
            <input type="tel" name="address[phone]" id="AddressPhone_{{ form.id }}" class="form-input"
              value="{{ form.phone }}" pattern="[0-9\-]*">
          </div>
        </div>

        <div class="my-4">
          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_{{ form.id }}" class="pl-1">
            {{ 'customer.addresses.set_default' | t }}
          </label>
        </div>

        <div class="mt-6">
          <button type="submit" class="btn mr-6">{{ 'customer.addresses.update' | t }}</button>
          <button type="button" class="btn-text" data-address-toggle data-form-id="{{ form.id }}">
            {{ 'customer.addresses.cancel' | t }}
          </button>
        </div>

        {% endform %}

      </div>
    </div>
    {% endfor %}

    <div class="my-4 border-2 border-dashed rounded" data-address>
      <button type="button" class="p-6 rounded text-xl font-light text-center w-full hover:bg-blue-100"
        data-address-toggle>
        <svg class="w-8 h-8 inline text-muted" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
        </svg>
        <br>
        {{ 'customer.addresses.add_new' | t }}
      </button>

      <div data-address-form class="hidden p-4 md:p-6 border-t">
        {% form 'customer_address', customer.new_address %}
        <div data-address-fields class="address-form form-vertical">
          <div>
            <label for="AddressFirstNameNew" class="form-label">
              {{ 'customer.addresses.first_name' | t }}
            </label>
            <input type="text" name="address[first_name]" id="AddressFirstNameNew" class="form-input"
              value="{{ form.first_name }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressLastNameNew" class="form-label">
              {{ 'customer.addresses.last_name' | t }}
            </label>
            <input type="text" name="address[last_name]" id="AddressLastNameNew" class="form-input"
              value="{{ form.last_name }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressCompanyNew" class="form-label">
              {{ 'customer.addresses.company' | t }}
            </label>
            <input type="text" name="address[company]" id="AddressCompanyNew" class="form-input"
              value="{{ form.company }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressAddress1New" class="form-label">
              {{ 'customer.addresses.address1' | t }}
            </label>
            <input type="text" name="address[address1]" id="AddressAddress1New" class="form-input"
              value="{{ form.address1 }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressAddress2New" class="form-label">
              {{ 'customer.addresses.address2' | t }}
            </label>
            <input type="text" name="address[address2]" id="AddressAddress2New" class="form-input"
              value="{{ form.address2 }}" autocapitalize="words">
          </div>
          <div>
            <label for="AddressCityNew" class="form-label">
              {{ 'customer.addresses.city' | t }}
            </label>
            <input type="text" name="address[city]" id="AddressCityNew" class="form-input" value="{{ form.city }}"
              autocapitalize="words">
          </div>
          <div>
            <label for="AddressCountryNew" class="form-label">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select name="address[country]" id="AddressCountryNew" class="form-select"
              data-default="{{ form.country }}">
            </select>
          </div>
          <div>
            <label for="AddressProvinceNew" class="form-label">
              {{ 'customer.addresses.province' | t }}
            </label>
            <select name="address[province]" id="AddressProvinceNew" class="form-select"
              data-default="{{ form.province }}">
            </select>
          </div>
          <div>
            <label for="AddressZipNew" class="form-label">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text" name="address[zip]" id="AddressZipNew" class="form-input" value="{{ form.zip }}"
              autocapitalize="characters">
          </div>
          <div>
            <label for="AddressPhoneNew" class="form-label">
              {{ 'customer.addresses.phone' | t }}
            </label>
            <input type="tel" name="address[phone]" id="AddressPhoneNew" class="form-input" value="{{ form.phone }}"
              pattern="[0-9\-]*">
          </div>
        </div>

        <div class="my-4">
          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_new" class="pl-1">
            {{ 'customer.addresses.set_default' | t }}
          </label>
        </div>

        <div class="mt-6">
          <button type="submit" class="mr-6 btn">{{ 'customer.addresses.add' | t }}</button>
          <button type="button" class="btn-text" data-address-toggle>
            {{ 'customer.addresses.cancel' | t }}
          </button>
        </div>

        {% endform %}
      </div>
    </div>

    {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
    {% endif %}

    {% endpaginate %}

  </div>
</div>