{% liquid
  assign media_width_desktop = '100vw'
  assign media_width_mobile = '100vw'
  assign sizes = 'auto, (min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '240, 352, 832, 1200, 1600, 1920, 2560, 3840'

  if block.settings.aspect_ratio == 'auto'
    assign ratio = block.settings.image.aspect_ratio
  else
    assign ratio = block.settings.aspect_ratio
  endif
%}

{% capture image %}
  {% if block.settings.image %}
    {{
      block.settings.image
      | image_url: width: 3840
      | image_tag:
        width: block.settings.image.width,
        widths: widths,
        height: block.settings.image.height,
        class: 'image-block__image border-style',
        sizes: sizes
    }}
  {% else %}
    <div class="placeholder-image">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
{% endcapture %}

<div
  class="image-block size-style spacing-style image-block--height-{{ block.settings.height }}"
  style="
    --aspect-ratio: {{ ratio }};
    {% render 'size-style', settings: block.settings %}
    {% render 'spacing-style', settings: block.settings %}
  "
  {{ block.shopify_attributes }}
>
  {% if block.settings.link == blank %}
    {{ image }}
  {% else %}
    <a href="{{ block.settings.link }}">
      {{ image }}
    </a>
  {% endif %}
</div>

{% stylesheet %}
  .image-block--height-fill {
    align-self: stretch;
  }
  .image-block--height-fill .image-block__image {
    height: 100%;
  }
  .image-block .image-block__image {
    aspect-ratio: var(--aspect-ratio);
    object-fit: cover;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings.image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "t:settings.aspect_ratio",
      "info": "t:info.aspect_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:options.aspect_ratio_auto"
        },
        {
          "value": "16/9",
          "label": "t:options.aspect_ratio_16_9"
        },
        {
          "value": "5/4",
          "label": "t:options.aspect_ratio_5_4"
        },
        {
          "value": "1/1",
          "label": "t:options.aspect_ratio_1_1"
        }
      ],
      "default": "auto"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        }
      ],
      "default": "fit",
      "visible_if": "{{ block.settings.aspect_ratio == 'auto' }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.image"
    }
  ]
}
{% endschema %}
