{% liquid
  assign media_width_desktop = '100vw'
  assign media_width_mobile = '100vw'
  assign sizes = 'auto, (min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '240, 352, 832, 1200, 1600, 1920, 2560, 3840'
%}

<div
  class="media-container image-block"
  style="--aspect-ratio: {{ block.settings.aspect_ratio }};"
  {{ block.shopify_attributes }}
>
  {% if block.settings.image %}
    <div class="media-container__wrapper">
      {{
        block.settings.image
        | image_url: width: 3840
        | image_tag:
          width: block.settings.image.width,
          widths: widths,
          height: block.settings.image.height,
          sizes: sizes,
          placeholder: true
      }}
    </div>
  {% else %}
    <div class="media-container__wrapper">
      {{ 'image' | placeholder_svg_tag: 'media-container__placeholder' }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:names.image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings.image"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "t:settings.aspect_ratio",
      "info": "t:info.aspect_ratio",
      "options": [
        {
          "value": "auto",
          "label": "t:options.aspect_ratio_auto"
        },
        {
          "value": "16/9",
          "label": "t:options.aspect_ratio_16_9"
        },
        {
          "value": "5/4",
          "label": "t:options.aspect_ratio_5_4"
        },
        {
          "value": "1/1",
          "label": "t:options.aspect_ratio_1_1"
        }
      ],
      "default": "auto"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        }
      ],
      "default": "fit",
      "visible_if": "{{ block.settings.aspect_ratio == 'match' }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.image"
    }
  ]
}
{% endschema %}
