<div
  class="rte {{ block.settings.font_size }}{% if block.settings.width == '100%' %} text-{{ block.settings.alignment }}{% endif %}"
  style="width: {{ block.settings.width }};"
  {{ block.shopify_attributes }}
>
  <div class="content-{{ block.settings.max_width }}">
    {{ block.settings.text }}
  </div>
</div>

{% schema %}
{
  "name": "t:names.text",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:settings.text",
      "default": "<p>Insert your catchphrase here (or something else).</p>"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "100%",
          "label": "t:options.fill"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "select",
      "id": "max_width",
      "label": "t:settings.max_width",
      "options": [
        {
          "value": "xs",
          "label": "t:options.xs"
        },
        {
          "value": "sm",
          "label": "t:options.sm"
        },
        {
          "value": "md",
          "label": "t:options.md"
        },
        {
          "value": "lg",
          "label": "t:options.lg"
        },
        {
          "value": "full",
          "label": "t:options.full"
        }
      ],
      "default": "md"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:settings.alignment",
      "default": "left",
      "visible_if": "{{ block.settings.width == '100%' }}"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.font_size",
      "options": [
        {
          "value": "text-sm",
          "label": "t:options.sm"
        },
        {
          "value": "text-base",
          "label": "t:options.md"
        },
        {
          "value": "text-lg",
          "label": "t:options.lg"
        },
        {
          "value": "text-xl",
          "label": "t:options.xl"
        }
      ],
      "default": "text-lg"
    }
  ],
  "presets": [
    {
      "name": "t:names.text"
    }
  ]
}
{% endschema %}
