<!doctype html>
<html class="h-screen font-sans antialiased text-gray-700" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">

    {%- render 'meta-tags' -%}

    {{ content_for_header }}

    {% style %}
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .password-main {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 1;
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.min.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'main-password-header' %}

    <main role="main" class="password-main">
      {{ content_for_layout }}
    </main>

    <footer>
      {% section 'main-password-footer' %}
    </footer>
  </body>
</html>
