<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {% comment %} <link rel="preload" href="{{ 'theme.bundle.css' | asset_url }}" as="style"> {% endcomment %}
  <link rel="preload" href="{{ 'theme.bundle.js' | asset_url }}" as="script">
  {% comment %} {{ 'theme.bundle.css' | asset_url | stylesheet_tag }} {% endcomment %}

  {%- if template contains 'product' -%}
  {% comment %} <link rel="preload" href="{{ 'product.bundle.css' | asset_url }}" as="style"> {% endcomment %}
  <link rel="preload" href="{{ 'product.bundle.js' | asset_url }}" as="script">
  {% comment %} {{ 'product.bundle.css' | asset_url | stylesheet_tag }} {% endcomment %}
  {%- endif -%}

  {%- include 'social-meta-tags'  -%}
  {{ content_for_header }}
</head>
<body>
  {%- section 'site-header' -%}

  <main role="main">
    <div id="vue-app">Content for SEO could go here.</div>
    {{ content_for_layout }}
  </main>

  {%- section 'site-footer' -%}

  {{ 'theme.bundle.js' | asset_url | script_tag }}
  {%- if template contains 'product' -%}
  {{ 'product.bundle.js' | asset_url | script_tag }}
  {%- endif -%}
</body>
</html>
