<footer id="colophon" class="px-4 py-8 mt-8 border-t site-footer" role="content-info">
  {% comment %}
    Only show newsetter form if they have not already signed up
  {% endcomment %}
  {% unless customer.accepts_marketing %}
    {% form 'customer' %}
      <input type="hidden" name="contact[tags]" value="newsletter">

      <label for="NewsletterEmail">{{ 'customer.newsletter_form.headline' | t }}</label>
      <input
        type="email"
        id="NewsletterEmail"
        type="email"
        name="contact[email]"
        value="{{ form.email }}"
        placeholder="{{ 'customer.newsletter_form.placeholder' | t }}"
        aria-required="true"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="NewsletterError"
        {% elsif form.posted_successfully? %}
          aria-describedby="NewsletterSuccess"
        {% endif %}
        required
      >

      <button type="submit">
        {{ 'customer.newsletter_form.button' | t }}
      </button>

      {%- if form.errors -%}
        <div id="NewsletterError" class="banner banner--error">
          {{- form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email -}}
        </div>
      {%- endif -%}

      {% if form.posted_successfully? %}
        <div id="NewsletterSuccess" class="banner banner--success">
          <p>{{ 'customer.newsletter_form.confirmation' | t }}</p>
        </div>
      {% endif %}
    {% endform %}
  {% endunless %}

  <p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}</p>
</footer>

{% schema %}
{
  "name": "Site Footer",
  "settings": []
}
{% endschema %}
