<style>
  {%- if section.settings.content_theme == "dark" -%}
    #hero--{{ section.id }} .hero__content {
      color: #fff;
      background: #000;
    }
    @media (min-width: 768px) {
      #hero--{{ section.id }} .hero__content {
        background: rgba(0, 0, 0, {{ section.settings.background_opacity | divided_by: 100.0 }});
      }
    }
  {%- else -%}
    #hero--{{ section.id }} .hero__content {
      background: #fff;
    }
    @media (min-width: 768px) {
      #hero--{{ section.id }} .hero__content {
        background: rgba(255, 255, 255, {{ section.settings.background_opacity | divided_by: 100.0 }});
      }
    }
  {%- endif -%}
</style>

<section
  id="hero--{{ section.id }}"
  class="bg-red-100 relative md:flex hero hero--{{ section.settings.content_theme }}"
>
  <div class="relative flex w-full bg-teal-200 {{ section.settings.height }}">
    {%- if section.settings.image != blank -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          class: 'object-cover w-full h-full',
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          fetchpriority: 'auto'
      }}
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'object-cover w-full h-full' }}
    {%- endif -%}
  </div>

  <div class="md:flex md:h-full md:w-full md:absolute md:inset-0 {{ section.settings.desktop_content_position }}">
    <div class="p-4 hero__content md:max-w-lg md:p-6 md:m-6 md:sticky md:top-8">
      {%- if section.settings.title != blank -%}
        <h1 class="m-0 text-4xl md:text-5xl">
          {{ section.settings.title | escape }}
        </h1>
      {%- endif -%}
      {%- if section.settings.text != blank -%}
        {{ section.settings.text }}
      {%- endif -%}
      {%- if section.settings.button_label != blank -%}
        <div class="mt-8">
          <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_label }}</a>
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Hero height",
      "default": "md:h-dvh",
      "options": [
        {
          "label": "Small",
          "value": "h-[300px] md:h-[500px]"
        },
        {
          "label": "Medium",
          "value": "h-[450px] md:h-[650px]"
        },
        {
          "label": "Large",
          "value": "md:h-dvh"
        },
        {
          "label": "Adapt to image",
          "value": "adapt"
        }
      ]
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Hero Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "Desktop content position",
      "default": "md:justify-start md:items-start",
      "options": [
        {
          "label": "Top left",
          "value": "md:justify-start md:items-start"
        },
        {
          "label": "Top center",
          "value": "md:justify-center md:items-start"
        },
        {
          "label": "Top right",
          "value": "md:justify-end md:items-start"
        },
        {
          "label": "Middle left",
          "value": "md:justify-start md:items-center"
        },
        {
          "label": "Middle center",
          "value": "md:justify-center md:items-center"
        },
        {
          "label": "Middle right",
          "value": "md:justify-end md:items-center"
        },
        {
          "label": "Bottom left",
          "value": "md:justify-start md:items-end"
        },
        {
          "label": "Bottom center",
          "value": "md:justify-center md:items-end"
        },
        {
          "label": "Bottom right",
          "value": "md:justify-end md:items-end"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_theme",
      "label": "Theme",
      "default": "light",
      "options": [
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Light",
          "value": "light"
        }
      ]
    },
    {
      "type": "range",
      "id": "background_opacity",
      "label": "Background Opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 90
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
