{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="section-pt-{{ section.settings.padding_top }} section-pb-{{ section.settings.padding_bottom }}{% if section.settings.border %} section-border{% endif %}">
  <div class="page-width">
    {% comment %}
      So TailwindCSS classes from schema settings are not stripped from the build.
      <div class="md:flex-row md:flex-row-reverse"></div>
    {% endcomment %}
    <div class="flex flex-col items-center gap-4 md:gap-8 lg:gap-10 {{ section.settings.desktop_layout }}">
      <div class="flex-shrink-0 {{ section.settings.desktop_image_width }}">
        {%- if section.settings.image != blank -%}
          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
          {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
          }}
        {%- else -%}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
      <div class="px-4 md:p-0 {{ section.settings.mobile_content_alignment }} {{ section.settings.desktop_content_alignment }}">
        {% comment %}  {% endcomment %}
        {%- if section.settings.subtitle != blank -%}
          <p class="m-0 text-caps">{{ section.settings.subtitle }}</p>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <h2 class="m-0 text-balance {{ section.settings.title_size }}">{{ section.settings.title }}</h2>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="mt-4 text-pretty rte {{ section.settings.text_style }}">
            {{ section.settings.text }}
          </div>
        {%- endif -%}
        {%- if section.settings.button_label != blank or section.settings.button_2_label != blank -%}
          <div class="mt-8 space-x-4">
            {%- if section.settings.button_label != blank -%}
              <a href="{{ section.settings.button_link }}" class="btn">
                {{ section.settings.button_label | escape }}
              </a>
            {%- endif -%}
            {%- if section.settings.button_2_label != blank -%}
              <a href="{{ section.settings.button_2_link }}" class="btn btn--outlined">
                {{ section.settings.button_2_label | escape }}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
        {% comment %}  {% endcomment %}
      </div>
      <div></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "md:w-1/3",
          "label": "Small"
        },
        {
          "value": "md:w-1/2",
          "label": "Medium"
        },
        {
          "value": "md:w-2/3",
          "label": "Large"
        }
      ],
      "default": "md:w-1/2",
      "label": "Desktop image width"
    },
    {
      "type": "select",
      "id": "desktop_layout",
      "options": [
        {
          "value": "md:flex-row",
          "label": "Image first"
        },
        {
          "value": "md:flex-row-reverse",
          "label": "Image second"
        }
      ],
      "default": "md:flex-row",
      "label": "Desktop image placement",
      "info": "Image first is the default mobile layout."
    },

    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Text block title"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h3",
          "label": "Small"
        },
        {
          "value": "h2",
          "label": "Medium"
        },
        {
          "value": "h1",
          "label": "Large"
        },
        {
          "value": "h0",
          "label": "Extra large"
        }
      ],
      "default": "h2",
      "label": "Heading size"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "text-base",
          "label": "Body"
        },
        {
          "value": "text-lg",
          "label": "Large"
        }
      ],
      "default": "text-base",
      "label": "Text style"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "md:text-left",
          "label": "Left"
        },
        {
          "value": "md:text-center",
          "label": "Center"
        },
        {
          "value": "md:text-right",
          "label": "Right"
        }
      ],
      "default": "md:text-left",
      "label": "Desktop content alignment"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left",
      "label": "Mobile content alignment"
    },

    {
      "type": "header",
      "content": "Button(s)"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Learn more",
      "label": "Primary button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Primary button link"
    },
    {
      "type": "text",
      "id": "button_2_label",
      "default": "Learn more",
      "label": "Secondary button label"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Secondary button link"
    },

    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "md"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "md"
    },
    {
      "type": "checkbox",
      "id": "border",
      "label": "Show section border",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Image with text",
    }
  ]
}
{% endschema %}
