<div class="px-4 py-8">
  <div class="max-w-md mx-auto">
    {%- form 'storefront_password' -%}
      <div class="flex items-start w-full gap-2">
        <div class="flex-1 {% if form.errors %} password-field--error{% endif %}">
          <label class="field-block field-stack" for="{{ 'general.password_page.login_form_password_label' | t }}">
            <input
              type="password"
              name="password"
              id="Password"
              class="field-input"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {%- endif -%}
              placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            >
            <span class="field-label">
              {{- 'general.password_page.login_form_password_placeholder' | t -}}
            </span>
          </label>
          {%- if form.errors -%}
            <div id="PasswordLoginForm-password-error" role="status">
              <span class="sr-only">{{ 'accessibility.error' | t }}</span>
              <span class="field-help field-error">
                {{ 'general.password_page.login_form_error' | t -}}
              </span>
            </div>
          {%- endif -%}
        </div>
        <button name="commit" class="btn">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Password header",
  "settings": []
}
{% endschema %}
