<div class="page-width">
  <h1>{{ section.settings.title }}</h1>
  {%- paginate collections by 16 -%}
    <ul
      class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 list-unstyled"
      role="list"
    >
      {%- for collection in collections -%}
        <li>
          <a
            href="{{ collection.url }}"
            class="flex items-center justify-center border aspect-square"
          >
            {%- if collection.featured_image -%}
              <img
                srcset="
                  {%- if collection.featured_image.width >= 165 -%}{{ collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if collection.featured_image.width >= 330 -%}{{ collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                  {%- if collection.featured_image.width >= 535 -%}{{ collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if collection.featured_image.width >= 750 -%}{{ collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if collection.featured_image.width >= 1000 -%}{{ collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if collection.featured_image.width >= 1500 -%}{{ collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if collection.featured_image.width >= 3000 -%}{{ collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {{ collection.featured_image | image_url }} {{ collection.featured_image.width }}w
                "
                src="{{ collection.featured_image | image_url: width: 1500 }}"
                sizes="
                  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 10rem) / 2),
                  calc(100vw - 3rem)
                "
                alt="{{ collection.featured_image.alt | escape }}"
                height="{{ collection.featured_image.height }}"
                width="{{ collection.featured_image.width }}"
                loading="lazy"
                class="object-cover w-full h-full"
              >
            {%- else -%}
              <h2 class="p-4">
                {{ collection.title }}
              </h2>
            {%- endif -%}
          </a>
          {%- if collection.featured_image != null -%}
            <h2 class="text-base">
              <a href="{{ collection.url }}">
                {{ collection.title | escape }}
              </a>
            </h2>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
    {% render 'pagination', paginate: paginate %}
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "Collections list page",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Collections"
    },
    {
      "type": "range",
      "id": "collections_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "Collections per page"
    }
  ]
}
{% endschema %}
