<article role="article" class="page-width">
  <div class="content-md">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}

        {%- when 'featured_image' -%}
          {%- if article.image -%}
            <div {{ block.shopify_attributes }}>
              <img
                srcset="
                  {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ article.image | image_url }} {{ article.image.width }}w
                "
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                src="{{ article.image | image_url: width: 1100 }}"
                loading="eager"
                fetchpriority="high"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                alt="{{ article.image.alt | escape }}"
              >
            </div>
          {%- endif -%}

        {%- when 'title' -%}
          <header {{ block.shopify_attributes }}>
            <h1>
              {{ article.title | escape }}
            </h1>
            {%- if block.settings.blog_show_author -%}
              <span>{{ article.author }}</span>
            {%- endif -%}
            {%- if block.settings.blog_show_date and block.settings.blog_show_author %} &middot; {% endif -%}
            {%- if block.settings.blog_show_date -%}
              <span>{{- article.published_at | time_tag: format: 'date' -}}</span>
            {%- endif -%}
          </header>

        {%- when 'content' -%}
          <div class="rte" {{ block.shopify_attributes }}>
            {{ article.content }}
          </div>
      {%- endcase -%}
    {%- endfor -%}

    {% if blog.comments_enabled? %}
      {% render 'article-comments', article: article %}
    {% endif %}
  </div>
</article>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% schema %}
{
  "name": "Blog post",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "Featured image",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "Show date"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "Show author"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
