<div class="section section--height-{{ section.settings.section_height }} color-{{ section.settings.color_scheme }}">
  <div class="{{ section.settings.section_width }}">
    <div
      class="
        spacing-style flex
        {% if section.settings.column_on_mobile %}flex-col{% else %}flex-row{% endif %}
        {{ section.settings.justify_content }} {{ section.settings.align_items }} {{ section.settings.content_direction }}
      "
      style="gap: {{ section.settings.gap }}px; {% render 'spacing-style', settings: section.settings %}"
    >
      {% content_for 'blocks' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:names.section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "md:flex-col",
          "label": "t:options.column"
        },
        {
          "value": "md:flex-row",
          "label": "t:options.row"
        }
      ],
      "default": "md:flex-col"
    },
    {
      "type": "checkbox",
      "id": "column_on_mobile",
      "label": "t:settings.column_on_mobile",
      "default": true,
      "visible_if": "{{ section.settings.content_direction == 'md:flex-row' }}"
    },
    {
      "type": "select",
      "id": "justify_content",
      "label": "t:settings.justify_content",
      "options": [
        {
          "value": "justify-start",
          "label": "t:options.start"
        },
        {
          "value": "justify-center",
          "label": "t:options.center"
        },
        {
          "value": "justify-end",
          "label": "t:options.end"
        },
        {
          "value": "justify-between",
          "label": "t:options.space_between"
        },
        {
          "value": "justify-around",
          "label": "t:options.space_around"
        }
      ],
      "default": "justify-start"
    },
    {
      "type": "select",
      "id": "align_items",
      "label": "t:settings.align_items",
      "options": [
        {
          "value": "items-start",
          "label": "t:options.start"
        },
        {
          "value": "items-center",
          "label": "t:options.center"
        },
        {
          "value": "items-end",
          "label": "t:options.end"
        },
        {
          "value": "items-stretch",
          "label": "t:options.stretch"
        }
      ],
      "default": "items-start"
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 60,
      "step": 4,
      "unit": "px",
      "label": "t:settings.gap",
      "default": 8
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "auto",
          "label": "t:options.auto"
        },
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "full-screen",
          "label": "t:options.full_screen"
        }
      ],
      "default": "small"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 104,
      "step": 8,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 104,
      "step": 8,
      "unit": "px",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "t:names.custom_section",
      "category": "t:categories.layout",
      "settings": {
        "section_height": "small"
      }
    },
    {
      "name": "t:names.image_with_text",
      "category": "t:categories.storytelling",
      "settings": {
        "content_direction": "md:flex-row",
        "align_items": "items-center",
        "gap": 0,
        "section_width": "full-width",
        "padding-block-start": 0,
        "padding-block-end": 0
      },
      "blocks": {
        "image": {
          "type": "image",
          "settings": {
            "image": "",
            "aspect_ratio": "auto",
            "width": "custom",
            "custom_width": 50,
            "width_mobile": "fit-content",
            "custom_width_mobile": 100,
            "height": "fill"
          }
        },
        "group": {
          "type": "group",
          "settings": {
            "content_direction": "md:flex-col",
            "column_on_mobile": true,
            "justify_content": "justify-start",
            "align_items": "items-start",
            "gap": 8,
            "width": "custom",
            "custom_width": 50,
            "width_mobile": "fit-content",
            "custom_width_mobile": 100,
            "inherit_color_scheme": true,
            "color_scheme": "",
            "padding-block-start": 48,
            "padding-block-end": 48,
            "padding-inline-start": 16,
            "padding-inline-end": 16
          },
          "blocks": {
            "heading": {
              "type": "heading",
              "name": "t:names.heading",
              "settings": {
                "text": "t:text_defaults.welcome",
                "element": "h2",
              }
            },
            "text": {
              "type": "text",
              "settings": {
                "text": "t:html_defaults.insert_catchphrase"
              }
            },
            "group_buttons": {
              "type": "group",
              "name": "t:names.button_group",
              "settings": {
                "content_direction": "md:flex-row",
                "column_on_mobile": false,
                "justify_content": "justify-start",
                "align_items": "items-start",
                "gap": 8,
                "padding-block-start": 24
              },
              "blocks": {
                "button": {
                  "type": "button",
                  "settings": {
                    "button_label": "t:text_defaults.button_label",
                    "button_link": "shopify://collections/all"
                  }
                }
              },
              "block_order": ["button"]
            }
          },
          "block_order": ["heading", "text", "group_buttons"]
        }
      },
      "block_order": ["image", "group"]
    }
  ]
}
{% endschema %}
