<div class="{{ section.settings.background }} section-pt-{{ section.settings.padding_top }} section-pb-{{ section.settings.padding_bottom }}{% if section.settings.border %} section-border{% endif %}">
  <div class="page-width {{ section.settings.content_alignment }}">
    {%- if section.settings.subtitle != blank -%}
      <p class="m-0 text-caps">{{ section.settings.subtitle }}</p>
    {%- endif -%}
    {%- if section.settings.title != blank -%}
      <h2 class="m-0">{{ section.settings.title }}</h2>
    {%- endif -%}
    {%- if section.settings.text != blank -%}
      <div class="mt-4 text-pretty rte">
        {{ section.settings.text }}
      </div>
    {%- endif -%}
    {%- if section.settings.button_label != blank or section.settings.button_2_label != blank -%}
      <div class="mt-8 space-x-4">
        {%- if section.settings.button_label != blank -%}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ section.settings.button_label | escape }}
          </a>
        {%- endif -%}
        {%- if section.settings.button_2_label != blank -%}
          <a href="{{ section.settings.button_2_link }}" class="btn btn--outlined">
            {{ section.settings.button_2_label | escape }}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Text block",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Text block title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Description",
      "default": "<p>Text block description...</p>"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content alignment",
      "default": "text-center",
      "options": [
        {
          "label": "Left",
          "value": "text-left"
        },
        {
          "label": "Center",
          "value": "text-center"
        },
        {
          "label": "Right",
          "value": "text-right"
        }
      ]
    },

    {
      "type": "header",
      "content": "Button(s)"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Learn more",
      "label": "Primary button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Primary button link"
    },
    {
      "type": "text",
      "id": "button_2_label",
      "default": "Learn more",
      "label": "Secondary button label"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Secondary button link"
    },

    {
      "type": "header",
      "content": "Container"
    },
    {
      "type": "select",
      "id": "padding_top",
      "label": "Padding top",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "md"
    },
    {
      "type": "select",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "md"
    },
    {
      "type": "checkbox",
      "id": "border",
      "label": "Show section border",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Text block"
    }
  ]
}
{% endschema %}
