{{ 'component-hero.css' | asset_url | stylesheet_tag }}

{% paginate collection.products by 20 %}
  {%- if collection.image -%}
    <div class="bg-gray-200 hero hero--md">
      {{
        collection.image
        | image_url: width: 3840
        | image_tag:
          width: collection.image.width,
          class: 'hero__image',
          sizes: '100vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          fetchpriority: 'auto'
      }}
      <div class="hero__title">
        <h1 class="m-0 hero__title">{{ collection.title }}</h1>
      </div>
    </div>
    {%- if collection.description != blank -%}
      <div class="py-12 mb-16 text-center bg-gray-100 border-b page-pad">
        <div class="copy">
          {{ collection.description }}
        </div>
      </div>
    {%- endif -%}

  {%- else -%}
    <div class="pt-16 pb-20 text-center page-pad">
      <div class="copy">
        <h1 class="m-0">{{ collection.title }}</h1>
        {%- if collection.description != blank -%}
          <div class="mt-8">
            {{ collection.description }}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="page-pad">
    <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
      {%- for product in collection.products -%}
        <div class="text-center">
          <a href="{{ product.url | within: collection }}">
            <img
              srcset="
                {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
              "
              src="{{ product.featured_media | image_url: width: 533 }}"
              sizes="(min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ product.featured_media.alt | escape }}"
              loading="lazy"
              width="{{ product.featured_media.width }}"
              height="{{ product.featured_media.height }}"
            >
          </a>
          <h2 class="m-2 text-xl">
            <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
          </h2>
          <p class="mt-0">
            {{ product.price | money }}
            {%- unless product.available -%}
              - <strong>sold out</strong>
            {%- endunless -%}
          </p>
        </div>

      {%- else -%}
        <div>
          <p>no matches</p>
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      <div class="m-8 text-center">
        {{ paginate | default_pagination }}
      </div>
    {%- endif -%}
  </div>
{% endpaginate %}
