<section class="page-pad">
  <div id="overview" class="lg:grid lg:grid-cols-5 lg:gap-8">
    <div class="lg:col-span-3">
      <div class="copy">
        <div class="text-center">
          <img
            srcset="
              {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
            "
            src="{{ product.featured_media | image_url: width: 533 }}"
            sizes="(min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ product.featured_media.alt | escape }}"
            class="motion-reduce"
            width="{{ product.featured_media.width }}"
            height="{{ product.featured_media.height }}"
          >
        </div>
        {% if product.images.size > 1 %}
          <div class="my-4">
            {% for image in product.images %}
              <a href="{{ image.src | image_url: width: 1200 }}">
                <img
                  src="{{ image | image_url: width: 50, height: 50 }}"
                  alt="{{ image.alt | escape }}"
                  width="50"
                  height="50"
                >
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="lg:col-span-2">
      <div class="copy">
        <h1 class="product-title">{{ product.title }}</h1>
        {% render 'price', product: product  %}

        {% render 'product-form' %}

        <div>{{ product.description }}</div>
      </div>
    </div>
  </div>
  <!-- .grid -->
</section>

{% section 'product-recommendations' %}
